.about{
    width: 98%;
    /* height: 100vh; */
    /* background-color: red; */
    margin: auto;
    margin-top: 10px;
}

.about .main-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    /* height: 300px; */
    /* background-color: yellow; */
}

.about .main-box .box{
    opacity: .7;
    overflow: hidden;
    /* margin-bottom: 20px; */
    width: 24%;
    height: 475px;
    border-radius: 15px;
    /* background-color: blue; */
}

.about .main-box .box .img-box{
    width: 100%;
    height: 250px;
    /* background-color: blueviolet; */
}

.about .main-box .box .name{
    font-weight: 400;
}

.about .main-box .box .img-box h1{
    margin: 0;
}

.about .main-box .box .img-box button{
    width: 100%;
    padding: 10px;
    margin: 0;
    color: white;
    font-size: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.305);

}

.about .main-box .box:hover{
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 3px 3px 5px gray;
}

.about .main-box .box .img-box button:hover{
    background-color: black;
}


@media (max-width:855px){
    .about .main-box .box{
        width: 49%;
    }
}



@media (max-width:547px){
    .about .main-box .box{
        width: 100%;
        margin-top: 30px;
    }

    .about .main-box {
        width: 90%;
        margin: auto;
    }
}