.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* margin-top: 100px; */
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner:hover img{
    filter: blur(5px);
}

.banner .title {
    position: absolute;
    

}

.banner .title a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.banner .title a:nth-child(1){
    background-color: rgba(0, 0, 0, 0.233);
    padding: 10px;
}

.banner .title a:nth-child(1):hover{
    background-color: rgba(0, 0, 0, 0.441);
}