.contact{
    width: 98%;
    /* height: 100vh; */
    margin-top: 0;
    padding: 0;
    margin: auto;
    /* background-color: rgb(234, 236, 238); */
}
.contact input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}